@page "/"
@attribute [OutputCache(Duration = 60)]
@inject RendererCache RendererCache
@inject IMessageProducer MessageProducer
@inject IDbConnectionFactory DbFactory
@inject IWebHostEnvironment Env

<PageTitle>pvq.app</PageTitle>

<div class="pt-12 pb-24 md:grid md:grid-cols-8 md:gap-x-8 max-w-screen-xl mx-auto">
    <div class="md:col-span-6">
        @if (Html != null)
        {
            @BlazorHtml.Raw(Html)
        }
        else
        {
            <HomeTab Tab=@Tab Posts=@Posts />
        }
    </div>
    <div class="md:col-span-2 pt-8 md:pt-24 pb-12">
        <Aside />
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    
    string? Html;

    [SupplyParameterFromQuery] 
    string? Tab { get; set; }

    List<Post> Posts { get; set; } = [];

    [SupplyParameterFromQuery] int? Force { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var noCache = Force != null && (Env.IsDevelopment() || HttpContext?.User.IsAdminOrModerator() == true);
        if (noCache)
        {
            RendererCache.DeleteHomeTabHtml(Tab);
        }
        else
        {
            Html = await RendererCache.GetHomeTabHtmlAsync(Tab);
            if (Html != null)
                return;
        }
        
        using var db = await DbFactory.OpenAsync();
        var q = db.From<Post>();
        q.OrderByView(Tab);
        Posts = await db.SelectAsync(q.Take(50));
        
        MessageProducer.Publish(new RenderComponent {
            Home = new() {
                Tab = Tab,
                Posts = Posts,
            }
        });
    }
}
