@page "/leaderboard"
@using MyApp.ServiceInterface
@inherits AppComponentBase

<PageTitle>Leaderboard</PageTitle>

<div class="mt-8 mb-20 mx-auto max-w-fit">
    <Heading1>Leaderboard</Heading1>

    <div class="mt-8">
        @if (data != null)
        {
            <LeaderboardView LeaderBoardData="@data"/>
        }
    </div>

</div>

@code {

    CalculateLeaderboardResponse? data;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var api = await ApiAsync(new CalculateLeaderBoard());
        if (api.Succeeded)
            data = api.Response;
        else
            Console.WriteLine(api.Error?.Message);
        
    }

}
