@page "/leaderboard"
@using MyApp.ServiceInterface
@using ServiceStack.Text
@inherits AppComponentBase

<PageTitle>Leaderboard</PageTitle>

<div class="mt-8 mb-20 mx-auto max-w-fit">
    <Heading1>Leaderboard</Heading1>

    <div class="mt-8">
        @if (data != null)
        {
            <LeaderboardView LeaderBoardData="@data"/>
        }
    </div>

</div>

@code {

    CalculateLeaderboardResponse? data;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // Only generate if missing, otherwise background task will update it.
        if (!File.Exists("App_Data/leaderboard.json"))
            await ApiAsync(new CalculateLeaderBoard());
        var jsonData = File.ReadAllText("App_Data/leaderboard.json");
        data = jsonData.FromJson<CalculateLeaderboardResponse>();
    }

}
