@page "/questions"
@attribute [OutputCache(Duration = 60)]
@inject IDbConnectionFactory DbFactory
@inject IMessageProducer MessageProducer
@inject NavigationManager NavigationManager

<PageTitle>@Title</PageTitle>
<div class="pt-12 pb-24 md:grid md:grid-cols-8 md:gap-x-8 max-w-screen-xl mx-auto">
    <div class="md:col-span-6">
        @if (posts != null)
        {
            <div class="mx-auto">
                @if (posts.Count > 0)
                {
                    <div class="mb-4 flex justify-between">
                        <div>
                            <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">
                                <span class="lg:inline hidden">
                                    All Questions
                                </span>
                            </h1>
                            @if (!string.IsNullOrEmpty(Q))
                            {
                                <h4 class="lg:mt-4 text-2xl">results for '@Q'</h4>
                            }
                        </div>
                        <div class="w-full sm:w-96 text-right">
                            <div class="mb-4">
                                <NavLink class=@PrimaryButton.Classes(ButtonStyle.Indigo) href="questions/ask">Ask Question</NavLink>
                            </div>
                            <QuestionViewTabs Path=@Path Tabs=@Tabs Active=@Tab/>
                        </div>
                    </div>

                    @if (total > PageSize)
                    {
                        <PagesNav class="border-b" Path=@Path Tab=@Tab PageSize=@PageSize Total=@total Page=@Math.Max(1, Page ?? 1)/>
                    }

                    <QuestionPosts Posts=@posts/>

                    @if (total > PageSize)
                    {
                        <PagesNav class="border-t" Path=@Path Tab=@Tab PageSize=@PageSize Total=@total Page=@Math.Max(1, Page ?? 1)/>
                    }
                }
                else
                {
                    <div class="mt-8 text-lg">
                        This search return no results.
                    </div>
                }
            </div>
        }
        else
        {
            <div class="mt-3 mb-20 mx-auto max-w-fit">
                @if (error != null)
                {
                    <ErrorSummary Status=@error/>
                }
                else
                {
                    <Loading/>
                }
            </div>
        }
    </div>
    <div class="md:col-span-2 pt-8 md:pt-24 pb-12">
        <Aside />
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    
    string Path => "/questions".AddQueryParam("q", Q);
    int? Skip => Page > 1 ? (Page - 1) * PageSize : 0;
    string Title => "All Questions" + (!string.IsNullOrEmpty(Q) ? $" with '{Q}'" : "");

    static string[] DefaultTabs = ["interesting", "popular", "newest"];
    static string[] SearchTabs = ["relevance", "newest", "oldest"];
    string[] Tabs => !string.IsNullOrEmpty(Q) ? SearchTabs : DefaultTabs;

    [SupplyParameterFromQuery] string? Q { get; set; }

    [SupplyParameterFromQuery] string? Tab { get; set; }

    [SupplyParameterFromQuery] int? Page { get; set; }

    [SupplyParameterFromQuery] int? PageSize { get; set; }

    List<Post>? posts;
    ResponseStatus? error = null;
    long? total;

    async Task Load()
    {
        try
        {
            if (Tab == null || !Tabs.Contains(Tab))
                Tab = Tabs[0];
            if (PageSize is null or <= 0)
                PageSize = 25;

            var skip = Page > 1 ? (Page - 1) * PageSize : 0;
            var take = PageSize.ToPageSize();

            if (!string.IsNullOrEmpty(Q))
            {
                MessageProducer.Publish(new AnalyticsTasks
                {
                    CreateSearchStat = new SearchStat { Query = Q, Type = SearchStatType.Search}.WithRequest(HttpContext)
                });

                if (int.TryParse(Q, out var postId))
                {
                    using var dbApp = await DbFactory.OpenAsync();
                    var post = await dbApp.SingleByIdAsync<Post>(postId);
                    if (post != null)
                    {
                        HttpContext!.Response.Redirect($"/questions/{post.Id}/{post.Slug}", permanent:true);
                        return;
                    }
                }

                using var dbSearch = await DbFactory.OpenAsync(Databases.Search);
                var q = dbSearch.From<PostFts>();
            
                var search = Q.Trim();
                if (search.StartsWith('[') && search.EndsWith(']'))
                {
                    q.WhereContainsTag(search.TrimStart('[').TrimEnd(']'));
                }
                else
                {
                    var searchPhrase = string.Join(" AND ", search.Split(' ').Select(x => '"' + x.Trim().StripQuotes() + '"'));
                    q.Where("Body match {0}", searchPhrase);
                }

                q.OrderByView(Tab);

                List<PostFts> postsFts = await dbSearch.SelectAsync(q
                    .Select("RefId, substring(Body,0,400) as Body, ModifiedDate")
                    .Skip(skip)
                    .Take(take));
                total = dbSearch.Count(q);

                using var db = await DbFactory.OpenAsync();
                posts = await db.PopulatePostsAsync(postsFts);
            }
            else
            {
                using var db = await DbFactory.OpenAsync();
                var q = db.From<Post>();
            
                posts = await db.SelectAsync(q
                    .OrderByView(Tab)
                    .Skip(skip)
                    .Take(take));

                total = db.Count(q);
            }
        }
        catch (Exception ex)
        {
            error = ex.ToResponseStatus();
        }
    }

    protected override Task OnInitializedAsync() => Load();
}