@page "/questions/{Id:int}/{*Slug}"
@attribute [OutputCache(Duration = 60)]
@using ServiceStack.Caching
@inject QuestionsProvider QuestionsProvider
@inject RendererCache RendererCache
@inject NavigationManager NavigationManager
@inject IMessageProducer MessageProducer
@inject MemoryCacheClient Cache
@inject IWebHostEnvironment Env

<PageTitle>@title</PageTitle>

<div class="lg:flex flex-wrap justify-center px-2">
    <div>
        @if (Html != null)
        {
            @BlazorHtml.Raw(Html)
        }
        else if (question?.Post?.Title != null)
        {
            <QuestionPost Question="question"/>
            @if (question.Answers.All(x => x.Model != HttpContext.GetUserName()))
            {
                <div class="mb-20" data-component="pages/Questions/Answer.mjs" data-props="{id:@question.Id}"></div>
            }
        }
        else
        {
            <div class="mt-3 mb-20 mx-auto max-w-fit">
                @if (error != null)
                {
                    <ErrorSummary Status=@error/>
                }
                else
                {
                    <Loading/>
                }
            </div>
        }
    </div>
    <Aside/>
</div>
<LiteYoutubeIncludes />

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    
    [Parameter] public required int Id { get; set; }

    [Parameter] public required string Slug { get; set; }

    [SupplyParameterFromQuery] int? Force { get; set; }

    QuestionAndAnswers? question;
    ResponseStatus? error;
    AuthorInfo? author;

    string title = "";
    string? Html;

    async Task load()
    {
        MessageProducer.Publish(new AnalyticsTasks {
            CreatePostStat = new PostStat { PostId = Id, Type = PostStatType.View}.WithRequest(HttpContext)
        });
        
        var noCache = Force != null && (Env.IsDevelopment() || HttpContext?.User.IsAdminOrModerator() == true);
        
        title = (Slug ?? "").Replace("-", " ").ToTitleCase();
        Html = noCache
            ? await RendererCache.GetQuestionPostHtmlAsync(Id)
            : null;

        if (!string.IsNullOrEmpty(Html))
        {
            var attrPrefix = "<template id=\"Post\">";
            var json = Html.IndexOf(attrPrefix, StringComparison.Ordinal) >= 0
                ? Html.RightPart(attrPrefix).LeftPart("</template>").HtmlDecode()
                : null;

            if (json != null)
            {
                var post = json.FromJson<Post>();
                var slug = post.Slug.GenerateSlug(200);
                if (slug != Slug)
                {
                    NavigationManager.NavigateTo($"/questions/{Id}/{slug}");
                    return;
                }
            }

            if (noCache)
            {
                MessageProducer.Publish(new RenderComponent
                {
                    RegenerateMeta = new() { ForPost = Id }
                });
            }
            else
            {
                Cache.RemoveExpiredEntries();
                var oncePerMinute = Cache.Add($"Question:{Id}", Id, TimeSpan.FromMinutes(1));
                if (oncePerMinute)
                {
                    MessageProducer.Publish(new RenderComponent
                    {
                        RegenerateMeta = new() { IfPostModified = Id }
                    });
                }
            }
            return;
        }
        
        var questionFiles = await QuestionsProvider.GetQuestionAsync(Id);
        question = questionFiles.Question;
        if (question?.Post?.Body != null)
        {
            title = question.Post.Title;

            var slug = question.Post.Slug.GenerateSlug(200);
            if (slug != Slug)
            {
                NavigationManager.NavigateTo($"/questions/{Id}/{slug}");
                return;
            }

            if (noCache || !questionFiles.Files.Any(x => x.Name.EndsWith(".meta.json")))
            {
                MessageProducer.Publish(new RenderComponent {
                    RegenerateMeta = new() { ForPost = Id },
                });
            }
            else
            {
                MessageProducer.Publish(new RenderComponent {
                    RegenerateMeta = new() { IfPostModified = Id },
                    Question = question,
                });
            }
        }
        else
        {
            error = new ResponseStatus
            {
                ErrorCode = "NotFound",
                Message = "Question not found"
            };
        }
    }

    protected override Task OnInitializedAsync() => load();
}
