@inject MarkdownBlog Blog

<div class="hidden lg:block w-72 ml-8 pt-44">
    <div>
        <div class="flex">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M192 32c0 17.7 14.3 32 32 32c123.7 0 224 100.3 224 224c0 17.7 14.3 32 32 32s32-14.3 32-32C512 128.9 383.1 0 224 0c-17.7 0-32 14.3-32 32m0 96c0 17.7 14.3 32 32 32c70.7 0 128 57.3 128 128c0 17.7 14.3 32 32 32s32-14.3 32-32c0-106-86-192-192-192c-17.7 0-32 14.3-32 32m-96 16c0-26.5-21.5-48-48-48S0 117.5 0 144v224c0 79.5 64.5 144 144 144s144-64.5 144-144s-64.5-144-144-144h-16v96h16c26.5 0 48 21.5 48 48s-21.5 48-48 48s-48-21.5-48-48z"/></svg>
            <h3 class="ml-2 text-2xl font-semibold">from the blog</h3>
        </div>
        <div class="mt-6 pt-4 px-4 border border-gray-200">
            @foreach (var post in Blog.GetPosts().Take(3))
            {
                <div class="pb-4">
                    <NavLink href=@Blog.GetPostLink(post) class="text-indigo-700 dark:text-indigo-300 hover:text-indigo-500">@post.Title</NavLink>
                </div>
            }
        </div>
    </div>
</div>

@code {
    
}