<footer class="bg-accent-1 dark:bg-black border-t border-accent-2 dark:border-gray-600">

    <nav class="pt-8 columns-2 sm:flex sm:justify-center sm:space-x-12 text-center sm:text-left" aria-label="Footer">
        <div class="pb-6">
            <NavLink href="about" class="text-sm leading-6 text-gray-600 dark:text-gray-400 hover:underline">About</NavLink>
        </div>

        <div class="pb-6">
            <NavLink href="blog" class="text-sm leading-6 text-gray-600 dark:text-gray-400 hover:underline">Blog</NavLink>
        </div>

        <div class="pb-6">
            <NavLink href="posts" class="text-sm leading-6 text-gray-600 dark:text-gray-400 hover:underline">Archive</NavLink>
        </div>

        <div class="pb-6">
            <NavLink href="privacy" class="text-sm leading-6 text-gray-600 dark:text-gray-400 hover:underline">Privacy</NavLink>
        </div>
    </nav>
    
    <div class="pb-4 text-center text-sm text-gray-600 dark:text-gray-400">
        powered by <a class="text-sm leading-6 text-gray-600 dark:text-gray-400 hover:underline" href="https://blazor-vue.web-templates.io">blazor vue</a>
    </div>

    <div class="pb-4 text-center text-sm text-gray-600 dark:text-gray-400">
        Site Design &copy; @DateTime.UtcNow.Year pvq, content licensed under <a class="text-sm leading-6 text-gray-600 dark:text-gray-400 hover:underline" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>.
    </div>
</footer>
