@if (Posts != null)
{
    <div class="">
        <div class="mb-4 flex justify-between">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">
                <span class="block xl:inline"><span class="lg:inline hidden">Featured </span>Questions</span>
            </h1>
            <div class="w-full sm:w-96 text-right">
                <div class="mb-4">
                    <NavLink class=@PrimaryButton.Classes(ButtonStyle.Indigo) href="questions/ask">Ask Question</NavLink>
                </div>
                <QuestionViewTabs Path="/" Tabs=@Tabs Active=@Tab/>
            </div>
        </div>

        <QuestionPosts Posts=@Posts />
    </div>
}
    
@code {
    static string[] Tabs = ["interesting", "popular", "newest"];

    [Parameter]
    public string? Tab { get; set; }
    
    [Parameter]
    public required List<Post>? Posts { get; set; }

    protected override void OnInitialized()
    {
        if (Tab == null || !Tabs.Contains(Tab))
            Tab = Tabs[0];
    }
}
