@using ServiceStack.Text
@inject MarkdownQuestions Markdown

<div data-comments=@RefId class="mt-4 comments w-full">
    @if (Comments.Count > 0)
    {
        <div class="border-t border-gray-200 dark:border-gray-700">
            @foreach (var comment in Comments)
            {
                <div id=@($"{RefId}-{comment.Created}") data-id=@RefId data-created=@comment.Created data-createdby=@comment.CreatedBy class="py-2 border-b border-gray-100 dark:border-gray-800 text-sm text-gray-600 dark:text-gray-300 prose prose-comment">
                    <span class="preview prose">
                        @BlazorHtml.Raw(Markdown.GenerateCommentHtml(comment.Body))
                    </span>
                    <span class="inline-block">
                        <span class="px-1" aria-hidden="true">&middot;</span>
                        <span class="text-indigo-700">@comment.CreatedBy</span>
                        <span class="ml-1 text-gray-400"> @Markdown.GetDateLabel(DateTimeOffset.FromUnixTimeMilliseconds(comment.Created))</span>
                    </span>
                </div>
            }
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    
    [Parameter] public required string RefId { get; set; }
    [Parameter] public required List<Comment> Comments { get; set; }
}
